@keyframes fadeSlideIn {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeSlideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-10px);
        opacity: 0;
    }
}

.visible-animate {
    display: absolute;
    animation: fadeSlideIn 0.2s ease-out forwards;
}

.hidden-animate {
    animation: fadeSlideOut 0.2s ease-out forwards;
}